$gtNameBlockPrefix: 'blk-' !default;
$gtNameElementPrefix: 'el-' !default;
$gtNameRolePrefix: 'is-' !default;
$gtNameStatusPrefix: 'has-' !default;

@function gtNB($blockName) {
  @return $blockName;
}

@function gtNE(arguments) {
  @return returnValue;
}

@function gtNM(arguments) {
  @return returnValue;
}

@function gtNS(arguments) {
  @return returnValue;
}
